/* =========== Settings */

$font-family: Raleway, 'Helvetica Neue', Arial, sans-serif;
$font-size: 15px;

$grid-columns: 48;
$max-width: 1320px;
$margin-bottom: 1.5em;

$color-brand: #dbd6a8;
$color-basic: #000000;
$color-error: #a61a0b;
$color-success: #40582b;
