<div class="panel-body">
  <div class="row no-marginb">
    <div class="form-group col-md-6 no-marginb">
      <%= text_field_tag "#{param_prefix}[preferred_min]", promotion_rule.preferred_min, class: 'form-control marginb' %>
      <%= text_field_tag "#{param_prefix}[preferred_max]", promotion_rule.preferred_max, class: 'form-control' %>
    </div>
  </div>
</div>
