<%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
<div class="buttons">
  <%= link_to "<span class='glyphicon glyphicon-chevron-left'></span> Shopping Bag".html_safe, spree.cart_path, class: "button soft small button_back_to_cart" %>
  <%= submit_tag "Place Order", :class => 'continue button primary right' %>
</div>