<style>
	#tab_calc input {float: right;}
</style>

<div id="tab_calc" class="tabContents">
	<p>Calculate your curtain fabric need. We calculate this for you with the 2.2 standard industry measure.</p>
	<p>(this is only a guidance, for an accurate calculation please contact your local curtain specialist!)</p>
	<p>Window or area: (in cms)</p>
	<% @product.combined_properties.each do |property| %>
		<% if property[0]=="Width (cm)" %>
			<% @width= property[1].to_f %>
		<% elsif property[0]=="Height (cm)" %>
			<% @height = property[1].to_f %>
		<% elsif property[0]=="Repeat (cm)" %>
			<% @repeat = property[1].to_f %>
		<% end %>
	<% end %>
	<table>
		<tr>
			<td>
				<label>Width : </label>
				<input type="number" id="width">
			</td>
			<td>
				<label>Height :</label>
				<input type="number" id="height">
			</td>
		</tr>
		<tr>
			<td>
				<label>Fabric Width : </label>
				<input type="number" id="fabric_width" value="<%= @width %>">
			</td>
			<td>
				<label>Fabric Repeat :</label>
				<input type="number" id="fabric_repeat" value="<%= @repeat %>">
			</td>
		</tr>
	</table>
	<div>
		<button type="submit" id="submit_values">Submit</button>
		<span id="result" style="float: right;"></span>
	</div>
</div>


<script>
	$('#submit_values').on("click", function(e){
		var width = parseFloat($('#width').val());
		var height = parseFloat($('#height').val());
		var fabric_width = parseFloat($('#fabric_width').val());
		var fabric_repeat = parseFloat($('#fabric_repeat').val());

		var cuts = (width*2.2)/fabric_width;
		var cuts_after_round = Math.round(cuts);
		if(cuts_after_round < cuts)
			{cuts = cuts_after_round+1;}
		else
			{cuts = cuts_after_round;}
		var need = cuts*(height + 20 + (fabric_repeat/2));
		need = (need/100).toFixed(1);
		if(need=="NaN")
			{alert("All 4 values are required.");}
		else
			{$('span#result').html(need+' meter!');}
	});
</script>
