<div class="block_1">
	<% small_images.each_with_index do |image, index| %>
		<% if index==0 or index==2 %>
			<div class="block_2">
		<% end %>
		<div class="block_1_div">
			<a href="<%= image.url %>" target = "<%= image.new_tab ? '_blank' : '' %>">
				<%=image_tag image.attachment.url(:small), :class=>"blog_links" %>
			</a>
		</div>
		<% if index==1 or index==3 %>
			</div>
		<% end %>
	<% end %>
</div>
