<footer>
    <span></span>
    <strong><a href="#" title="#TITLE">Ethnic Chic</a></strong>
    <span></span>
    <ul class="nav footer_nav">
      <li><a rel="external" href="http://facebook.com/ethnicchic" title="Ethnic Chic Facebook">Facebook</a></li>
      <li><a href="/contact-us" title="Contact Ethnic Chic">Contact</a></li>
      <li><a href="/terms" title="Terms &amp; conditions">Terms</a></li>
    </ul>
</footer>


<%if(session[:country_id] and country = Spree::Country.find(session[:country_id])) %>
    <% if Spree::Zone.default_tax && !Spree::Zone.default_tax.contains_country?(country) %>
        <input type="hidden" value="1" id="show_price_ex_vat"/>
    <% else %>
        <input type="hidden" value="0" id="show_price_ex_vat"/>
    <% end %>
<%else%>
    <input type="hidden" value="0" id="show_price_ex_vat"/>
<%end%>
