/* =========== Pagination */

@import "core/settings";
@import "core/mixins";
ul.pagination,
nav.pagination {
    text-align: center;
    @include clearfix;
    margin-bottom: $margin-bottom;

    li, span {
        vertical-align: bottom;
        display: inline-block;
        @include border-radius(5px);
    }
    a {
        display: block;
        padding: 0.5em 1em 0.5em 1em;
    }
    li.is-active a, span.current { background: rgba(#000, 0.5); }
    li.pagination-gap, span.gap, span.current { padding: 0.5em 1em 0.5em 1em; }
    li.pagination-previous { float: left; }
    li.pagination-next { float: right; }
}