<% unless @products.empty? %>
$('#products').html("<%=j render partial: 'spree/shared/products_list', :locals => { products: @products, page: @page } %>");
<% else %>
$('#products').html("<p>Unfortunately we can’t find any products that match your search and / or filter. Please contact us if you need any assistance at info@ethnicchic.com or call us directly at +31203308066.</p>");
<% end %>
$('#products_pagination').html("<%=j paginate @products, theme: 'twitter-bootstrap-3' %>");
set_current('price_range', '<%= params[:price_range] %>');
