<div id="logo">
  <h1><%= link_to(Spree::Store.current.name, "http://#{ Spree::Store.current.url }") %></h1>
</div>
<p>
  Sarphatistraat 370 - A16 (on appointment ONLY) <br />
  1018 GW Amsterdam <br />
  The Netherlands <br />
  T. +31 (0)20 330 8066 <br />
  M. info@ethnicchic.com <br />
</p>
