<section class="focus">
  <header>
    <h1><%= t(:login_as_existing) %></h1>
    <span class="close"><a href="<%=redirect_back_link%>" title="go back"></a></span>
  </header>
  <%= render :partial => 'spree/shared/login' %>
</section>
