<!DOCTYPE html>
<html>
<head>
  <title>
    Ethnic Chic - Home Couture Online Shop - Wallpapers, Exvlusive fabrics,
    online shop, Aqua Creations, Elitis, Mulberry Home, GP & J Baker, Pierre Frey,
    Rubelli fabric, Arte wallpaper, Fortuny lighting, Manuel Canovas, Larsen,
    Dedar, Colefax, Lorca, Nina campbell, Osborne & Little.
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= yield %>
</body>
</html>
